:root {
  --clr-primary-black: #1F1F1F;
  --clr-secondary-black: #545454;
  --clr-light-black: #DADADA;
  --clr-primary-white: #FFFFFF;
  --clr-text-footer: #D1D1D1;
  --ff-primary: "Inter", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: .9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 1vw;
  --fs-1000: 7rem;
  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  /* --size-900: 4vw; */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-weight: 500;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-black);
}

#app {
  padding: var(--size-600) var(--size-900);
}



/* p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
} */

/* p[data-width="wide"] {
  max-width: 50ch;
} */

button {
  padding: var(--size-100) var(--size-500);
  color: var(--clr-primary-white);
  background-color: var(--clr-primary-black);
  border-radius: 4px;
}

.logo {
  aspect-ratio: 1 / 2;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-secondary-black);
}

.nav-list a[active] {
  color: var(--clr-primary-black);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: var(--size-800);
}

.nav-list button {
  display: none;
}


@media(max-width: 60em) {

  .desktop-sign-up {
    display: none;
  }

  .nav-list button {
    display: block;
  }

  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0/0), rgb(0 0 0/0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-700);
    right: var(--size-700);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    width: 1.65em;
    aspect-ratio: 1;

    background-image: url('images/icon-hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('images/icon-close.svg');
  }
}

/* interior design */
.interior-design-section-1 {
  margin-block: var(--size-800);
  display: flex;
  justify-content: space-between;
}

@media (max-width:70em) {
  .interior-design-section-1 {
    display: flex;
    text-align: center;
    margin-block: var(--size-800);
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
  }

  .interior-design-section-1 .text-section h1 {
    font-size: 60px;
  }

  .interior-design-section-1 div {
    padding-bottom: var(--size-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.interior-design-section-1 img {
  height: 30em;
  width: 30em;
}

.interior-design-section-1 h1 {
  font-size: var(--fs-1000);
  margin-bottom: 50px;
}


.interior-design-section-2 {
  display: flex;
  position: relative;
  bottom: 10rem;
  justify-content: space-between;
}


.interior-design-section-2 .image1 {
  position: relative;
  right: 80px;
}

.down-arrow {
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.interior-design-section-2 .box {
  position: relative;
  top: 180px;
  left: -110px;
  height: 200px;
  width: 200px;
  border: 1px solid var(--clr-primary-black);
}

.interior-design-score h1 {
  font-size: var(--size-700);
}

.interior-design-score {
  display: flex;
  width: 500px;
  justify-content: space-between;
  color: var(--clr-secondary-black);
  font-weight: 400;
}

.interior-design-section-2 .text-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.interior-design-section-2 .text-section button {
  width: 15rem;
  height: 4rem;
  justify-content: space-around;
  flex-direction: column;
}

@media(max-width:90em) {
  .interior-design-section-2 {
    position: static;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .interior-design-section-2 .text-section {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media(max-width:60em) {
    .interior-design-section-2 .text-section {
      flex-direction: column;
      height: 200px;
      align-items: center;
    }
  }

  .fancy-image-1 {
    display: none;
  }
}

/* our services */
.our-services__logo {
  display: flex;
  align-items: center;
}

.our-services__logo div {
  border: 1px solid black;
  width: 100px;
  height: 1px;
  margin-right: 20px;
}

.our-services__logo h1 {
  font-size: var(--size-900);
}

.our-services__content {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.our-services-design {
  gap: 50px;
  display: flex;
  align-items: flex-start;
}

@media (max-width:90em) {
  .our-services {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-services__content {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.our-services-design img {
  margin-top: 20px;
  height: 50px;
}

.our-services-design h1 {
  font-size: var(--fs-700);
}

.our-services-design p {
  width: 25ch;
  font-size: var(--fs-400);
}

/* section 4 */
.section-4 {
  display: flex;
  /* border: 1px solid red; */
}

.section-4 .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: var(--size-800);
  /* border: 1px solid red; */
}

.section-4 .text-section h1 {
  font-size: var(--size-700);
}

.section-4 .text-section p {
  margin-top: var(--size-800);
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.menu-items>* {
  display: flex;
  height: 5rem;
  border-bottom: 1px solid var(--clr-light-black);
  align-items: center;
  justify-content: space-between;
}

.text-section button {
  width: 10rem;
  height: 3rem;
  margin-top: 4rem;
}

@media (max-width:80em) {
  .section-4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
  }
}

/* footer */
footer {
  display: flex;
  background-color: var(--clr-primary-black);
  /* height: 30rem; */
  padding: 5rem;
  color: var(--clr-text-footer);
}

.footer-starter {
  /* width: 20rem; */
  height: 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.footer-starter p {
  width: 25ch;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 3rem;
  gap: 1rem;
}

.footer-navbar {
  display: flex;
  width: 100%;
}

.footer-navbar-part1 h1,
.footer-navbar-part2 h1,
.footer-navbar-part3 h1 {
  font-weight: var(--fw-bold);
}

.footer-navbar {
  display: flex;
  padding-left: 15rem;
  padding-top: 2rem;
  justify-content: space-between;
}

@media (max-width: 90em) {
  .footer-navbar {
    padding-left: 5rem;
  }
}

.footer-navbar ul {
  padding-top: 3rem;
  list-style: none;
  gap: 1rem;
  display: grid;
}

.footer-navbar-part3 p {
  width: 20ch;
}

@media (max-width: 60em) {
  footer {
    flex-direction: column;
  }

  .footer-starter {
    /* width: 20rem; */
    height: 20rem;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: column;
  }

  .footer-navbar ul {
    padding-top: 1rem;
  }

  .footer-navbar {
    flex-direction: column;
    height: auto;
    gap: 3rem;
    padding: 0;
  }

  .footer-navbar-part1,
  .footer-navbar-part2,
  .footer-navbar-part3 {
    align-items: start;
  }
}

/* utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fw-400 {
  font-weight: 500;
}

.d-flex {
  display: flex;
}