:root {
  --clr-primary-black: #1F1F1F;
  --clr-secondary-black: #545454;

  --clr-primary-white: #FFFFFF;

  --ff-primary: "Inter", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: .9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-weight: 500;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-black);
  padding: var(--size-600) var(--size-800);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 50ch;
}

button {
  padding: var(--size-100) var(--size-500);
  color: var(--clr-primary-white);
  background-color: var(--clr-primary-black);
  border-radius: 4px;
}

.logo {
  aspect-ratio: 1 / 2;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-black);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: var(--size-800);
}

.nav-list button {
  display: none;
}


@media(max-width: 60em) {

  .desktop-sign-up {
    display: none;
  }

  .nav-list button {
    display: block;
  }

  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0/0), rgb(0 0 0/0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-700);
    right: var(--size-700);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    width: 1.65em;
    aspect-ratio: 1;

    background-image: url('images/icon-hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('images/icon-close.svg');
  }
}

/* interior design */
.interior-design-section-1 {
  /* border: 1px solid red; */
  margin-block: var(--size-800);
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

@media (max-width:60em) {
  .interior-design-section-1 {
    text-align: center;
    margin-block: var(--size-800);
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: center;
  }

  .interior-design-section-1 .text-section h1 {
    font-size: 60px;
  }

  .interior-design-section-1 div {
    padding-bottom: var(--size-500);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.interior-design-section-1 img {
  height: 30em;
  width: 30em;
}

.interior-design-section-1 h1 {
  font-size: 100px;
}

/* utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fw-400 {
  font-weight: 500;
}